<form>
    <div class="container-section">
        <h3>{{localize "BG3.Settings.ContainerAutoPopulate.Name"}}</h3>
        <p class="notes">{{localize "BG3.Settings.ContainerAutoPopulate.Hint"}}</p>
        <div class="container-chips" data-container="container1">
            {{#each itemTypes}}
            <div class="chip" data-value="{{this.value}}">{{this.label}}</div>
            {{/each}}
        </div>
    </div>
</form>

<div class="dialog-buttons">
    {{#each buttons as |button id|}}
    <button class="dialog-button" data-button="{{id}}">
        {{{button.icon}}}
        {{button.label}}
    </button>
    {{/each}}
</div> 