/* ==========================================================================
   Hotbar Control Column
   ========================================================================== */

   #bg3-hotbar-container .bg3-control-container {
    position: absolute;
    bottom: 0;
    left: calc(100% - 7px);
    display: flex;
    flex-direction: column;
    gap: 4px;
    z-index: 100;
    transition: opacity 0.3s ease-in-out 0s;
  }
  
  /* ==========================================================================
     Control Buttons
     ========================================================================== */
  
  #bg3-hotbar-container .hotbar-control-button {
    width: calc(var(--bg3-hotbar-cell-size) / 2);
    height: calc(var(--bg3-hotbar-cell-size) / 2);
    background: var(--bg3-hotbar-background-color);
    border-radius: 50%;
    color: var(--bg3-hotbar-drag-color);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.2s ease;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
    position: relative;  /* Add this to make it the positioning context for menus */ 
    transition: opacity 0.3s ease-in-out 0s;
    border: var(--bg3-border-size) solid var(--bg3-border-color);
  }
  
  #bg3-hotbar-container .bg3-control-container.fade {
    opacity: 0;
  }
  
  #bg3-hotbar-container .bg3-control-container.fade:hover {
    opacity: 1;
  }
  
  #bg3-hotbar-container .hotbar-control-button:hover {
    background: var(--bg3-hotbar-background-color-hover);
    border-color: var(--bg3-hotbar-drag-color-hover);
    color: var(--bg3-hotbar-drag-color-hover);
  }
  
  #bg3-hotbar-container .hotbar-control-button.disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  
  #bg3-hotbar-container .hotbar-control-button.disabled:hover {
    background: var(--bg3-background-color-hover);
  }
  
  #bg3-hotbar-container .hotbar-control-button i {
    font-size: 14px;
  }
  
  #bg3-hotbar-container .hotbar-control-button.locked {
    background: var(--bg3-hotbar-drag-color-hover);
    color: var(--bg3-hotbar-background-color);
  }