:root {
    --bg3-border-color: "";
    --bg3-border-color-hover: "";
    --bg3-background-color: "";
    --bg3-background-color-hover: "";
    --bg3-text-color: "";
    --bg3-text-color-hover: "";
    --bg3-cell-size: "";
    --bg3-border-size: "";
    --bg3-portrait-cell-size: "";
    --bg3-hotbar-border-color: "";
    --bg3-hotbar-border-color-hover: "";
    --bg3-hotbar-background-color: "";
    --bg3-hotbar-background-color-hover: "";
    --bg3-hotbar-text-color: "";
    --bg3-hotbar-text-color-hover: "";
    --bg3-hotbar-cell-size: "";
    --bg3-hotbar-border-size: "";
    --bg3-weapon-border-color: "";
    --bg3-weapon-border-color-hover: "";
    --bg3-weapon-background-color: "";
    --bg3-weapon-background-color-hover: "";
    --bg3-weapon-text-color: "";
    --bg3-weapon-text-color-hover: "";
    --bg3-weapon-cell-size: "";
    --bg3-weapon-border-size: "";
    --bg3-filter-border-color: "";
    --bg3-filter-border-color-hover: "";
    --bg3-filter-background-color: "";
    --bg3-filter-background-color-hover: "";
    --bg3-filter-text-color: "";
    --bg3-filter-text-color-hover: "";
    --bg3-filter-cell-size: "";
    --bg3-filter-border-size: "";
    --bg3-passive-border-color: "";
    --bg3-passive-border-color-hover: "";
    --bg3-passive-background-color: "";
    --bg3-passive-background-color-hover: "";
    --bg3-passive-text-color: "";
    --bg3-passive-text-color-hover: "";
    --bg3-passive-cell-size: "";
    --bg3-passive-border-size: "";
    --bg3-active-border-color: "";
    --bg3-active-border-color-hover: "";
    --bg3-active-background-color: "";
    --bg3-active-background-color-hover: "";
    --bg3-active-text-color: "";
    --bg3-active-text-color-hover: "";
    --bg3-active-cell-size: "";
    --bg3-active-border-size: "";
    --bg3-rest-border-color: "";
    --bg3-rest-border-color-hover: "";
    --bg3-rest-background-color: "";
    --bg3-rest-background-color-hover: "";
    --bg3-rest-text-color: "";
    --bg3-rest-text-color-hover: "";
    --bg3-rest-border-size: "";
    --bg3-tooltip-border-color: "";
    --bg3-tooltip-border-color-hover: "";
    --bg3-tooltip-background-color: "";
    --bg3-tooltip-background-color-hover: "";
    --bg3-tooltip-text-color: "";
    --bg3-tooltip-text-color-hover: "";
    --bg3-tooltip-border-size: ""
}