/* ==========================================================================
   Portrait Components
   ========================================================================== */

.bg3-hud .portrait-card {
  position: absolute;
  right: calc(100% + var(--portrait-right));
  bottom: 0;
  width: var(--bg3-portrait-size);
  min-width: 80px;
  height: var(--bg3-portrait-size);
  min-height: 80px;
  /* border-radius: 50%; */
  overflow: visible;
  display: block;
  --img-background-color: transparent;
}

.bg3-hud .portrait-image-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  cursor: pointer;
  border: none;
  outline: none;
  box-shadow: none;
  /* border-radius: 50%; */
}

.bg3-hud .portrait-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
  border: none;
  outline: none;
  box-shadow: none;
  background-color: var(--img-background-color);
}

/* ==========================================================================
   Health Components
   ========================================================================== */

.bg3-hud .health-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* border-radius: 50%; */
  overflow: hidden;
  pointer-events: none;
}

.bg3-hud .damage-overlay,
.bg3-hud .damage-flash,
.bg3-hud .healing-flash {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /* border-radius: 50% 50% 0 0; */
  transition: height 0.3s ease-out, opacity 0.3s ease-out;
}

.bg3-hud .damage-overlay {
  height: 0;
  background: rgba(255, 0, 0, 0.4);
  pointer-events: none;
  z-index: 11;
}

.bg3-hud .hp-text {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  text-shadow: 0 0 3px #000;
  font-size: 1.2em;
  font-weight: bold;
  pointer-events: none;
  text-align: center;
  width: 100%;
  z-index: 2;
}

.bg3-hud .temp-hp-text {
  color: #7bb3e8;
  font-size: 1.2em;
  margin-bottom: 0;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

/* ==========================================================================
   Death Saves Container
   ========================================================================== */

/* Death Saves Container */
.bg3-hud .death-saves-container {
  position: absolute;
  left: -40px;
  top: 100px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  z-index: 1;
}

.bg3-hud .death-saves-group {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.bg3-hud .death-save-box {
  width: 20px;
  height: 20px;
  border: 2px solid #666;
  border-radius: 4px;
  background-color: rgba(80, 80, 80, 0.3);
  transition: all 0.2s ease;
}

.bg3-hud .death-save-box.clickable {
  cursor: pointer;
}

.bg3-hud .death-save-box.clickable:hover {
  transform: scale(1.1);
  border-color: #888;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
}

.bg3-hud .death-save-box.success.marked {
  background-color: rgba(0, 255, 0, 0.3);
  border-color: #00ff00;
  box-shadow: 0 0 5px rgba(0, 255, 0, 0.5);
}

.bg3-hud .death-save-box.success.clickable:hover {
  border-color: #00ff00;
  box-shadow: 0 0 8px rgba(0, 255, 0, 0.7);
}

.bg3-hud .death-save-box.failure.marked {
  background-color: rgba(255, 0, 0, 0.3);
  border-color: #ff0000;
  box-shadow: 0 0 5px rgba(255, 0, 0, 0.5);
}

.bg3-hud .death-save-box.failure.clickable:hover {
  border-color: #ff0000;
  box-shadow: 0 0 8px rgba(255, 0, 0, 0.7);
}

.bg3-hud .death-saves-skull {
  color: #666;
  font-size: 1.2em;
  margin: 4px 0;
  cursor: default;
  transition: all 0.2s ease;
}

.bg3-hud .death-saves-skull.clickable {
  cursor: pointer;
}

.bg3-hud .death-saves-skull.clickable:hover {
  color: #fff;
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
  transform: scale(1.1);
}

.bg3-hud .death-saves-skull.clickable:active {
  transform: scale(0.95);
}


/* ==========================================================================
   Extra Infos
   ========================================================================== */

.bg3-hud .portrait-card .extra-info {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: inherit;
  position: absolute;
  z-index: 20;
  text-shadow: var(--shadow-text-stroke);
  color: #fff;
  font-size: 1.5em;
  font-weight: bold;
  pointer-events: none;
  transform: unset;
}

.bg3-hud .portrait-card .extra-info span {
  z-index: 1;
  line-height: 1.5em;
}

.bg3-hud .portrait-card .extra-info::before {
  font-size: xx-large;
  position: absolute;
  z-index: 0;
  font-family: "Font Awesome 6 Pro";
  color: var(--icon-color);
}

.bg3-hud .portrait-card .extra-info-0, .bg3-hud .portrait-card .extra-info-1 {
  top: 5px;
}

.bg3-hud .portrait-card .extra-info-4, .bg3-hud .portrait-card .extra-info-5 {
  bottom: 5px;
}

.bg3-hud .portrait-card .extra-info-0, .bg3-hud .portrait-card .extra-info-4 {
  left: 25px;
}

.bg3-hud .portrait-card .extra-info-1, .bg3-hud .portrait-card .extra-info-5 {
  right: 25px;
}

.bg3-hud .portrait-card .extra-info-2, .bg3-hud .portrait-card .extra-info-3 {
  top: 50%;
  transform: translateY(-50%);
}

.bg3-hud .portrait-card .extra-info-2 {
  left: 5px;
}

.bg3-hud .portrait-card .extra-info-3 {
  right: 5px;
}

/** NEW **/
.bg3-hud .portrait-card .extra-infos-container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}


.bg3-hud .portrait-card.portrait-hidden {
  width: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  width: auto;
  min-width: unset;
  height: unset;
  /* min-height: 100%; */
}

.bg3-hud .portrait-card.portrait-hidden .ability-button {
  position: unset;
  transform: unset;
}

.bg3-hud .portrait-card.portrait-hidden .death-saves-container {
  top: unset;
  bottom: 0;
  transform: unset;
}

.bg3-hud .portrait-card.portrait-hidden .portrait-image-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: unset;
}

.bg3-hud .portrait-card.portrait-hidden .portrait-image, .bg3-hud .portrait-card.portrait-hidden .health-overlay, .bg3-hud .portrait-card.portrait-hidden .hp-text {
  display: none;
}

.bg3-hud .portrait-card.portrait-hidden .extra-info, .bg3-hud .portrait-card.portrait-hidden .extra-infos-container {
  position: unset;
  transform: unset;
}

.bg3-hud .portrait-card.portrait-hidden .extra-infos-container {
  display: grid;
  grid-template-rows: repeat(3, 35px);
  grid-auto-flow: column;
  column-gap: 20px;
}

/** Border setting **/

/** Square Shape Override */
.bg3-hud .portrait-card:not([data-border="none"]) .portrait-image-container::before {
  content: '';
  position: absolute;
    -webkit-box-shadow: inset 0px 0px 15px 5px #000000;
    box-shadow: inset 0px 0px 10px 5px #000000;

}

.bg3-hud .portrait-card[data-border="simple"] .portrait-image-container::before {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.bg3-hud .portrait-card[data-shape="round"][data-border="styled"] .portrait-image-container::before {
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
}

.bg3-hud .portrait-card:not([data-border="none"]) .portrait-image-container::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.bg3-hud .portrait-card[data-shape="round"][data-border="styled"] .portrait-image-container::after {
  background-image: url(../../img/token_border_styled.png);
  background-size: contain;
}

.bg3-hud .portrait-card[data-border="simple"] .portrait-image-container::after {
  border: calc(var(--primary-border-width)*2) solid var(--primary-border-color);
}


/* .bg3-hud .portrait-card[data-shape="round"] .portrait-image-container, .bg3-hud .portrait-card[data-shape="round"] .portrait-image-container::before { */
.bg3-hud .portrait-card[data-shape="round"]:not([data-border="none"]) .portrait-image-container, .bg3-hud .portrait-card[data-shape="round"] .health-overlay, .bg3-hud .portrait-card[data-shape="round"] .portrait-image-container::before, .bg3-hud .portrait-card[data-shape="round"] .portrait-image-container::after {
/* .bg3-hud .portrait-card[data-shape="round"] .portrait-image-container, .bg3-hud .portrait-card[data-shape="round"] .portrait-image-container::before, .bg3-hud .portrait-card[data-shape="round"] .portrait-image-container::after { */
  border-radius: 50%;
}

/* .bg3-hud .portrait-card[data-border="simple"] .portrait-image-container {
  border: calc(var(--primary-border-width)*2) solid var(--primary-border-color);
} */

/* .bg3-hud .portrait-card[data-border="simple"] .portrait-image-container::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-box-shadow: inset 0px 0px 5px 2px #000000;
  box-shadow: inset 0px 0px 5px 2px #000000;
} */

/* .bg3-hud .portrait-card[data-shape="round"][data-border="styled"] .portrait-image-container::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url(../../img/token_border_styled.png);
  background-size: contain;
} */

/* .bg3-hud .portrait-card[data-shape="round"][data-border="styled"] .portrait-image-container::before {
    content: '';
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    -webkit-box-shadow: inset 0px 0px 15px 5px #000000;
    box-shadow: inset 0px 0px 10px 5px #000000;
} */

.bg3-hud .portrait-card[data-shape="square"] .extra-info-0, .bg3-hud .portrait-card[data-shape="square"] .extra-info-2, .bg3-hud .portrait-card[data-shape="square"] .extra-info-4 {
  left: 10px;
}

.bg3-hud .portrait-card[data-shape="square"] .extra-info-1, .bg3-hud .portrait-card[data-shape="square"] .extra-info-3, .bg3-hud .portrait-card[data-shape="square"] .extra-info-5 {
  right: 10px;
}

.bg3-hud .portrait-card[data-shape="square"] .extra-info-4, .bg3-hud .portrait-card[data-shape="square"] .extra-info-5 {
  bottom: 5px;
}

.portrait-image-subcontainer[data-bend-mode="bend"] {
  mask-image: url(https://i.sstatic.net/FwTzE.png);
  -webkit-mask-image: url(http://localhost:30000/assets/tokens/player/tarquin-token.png);
  mask-mode: alpha;
  -webkit-mask-mode: alpha;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  position: relative;
  mask-size: 100% 100%;
}