/* ==========================================================================
   Portrait Components
   ========================================================================== */

#bg3-hotbar-container  .bg3-portrait-container {
    position: absolute;
    right: 100%;
    bottom: var(--position-bottom, 10px);
    width: var(--bg3-portrait-size);
    min-width: 80px;
    height: var(--bg3-portrait-size);
    min-height: 80px;
    overflow: visible;
    display: block;
    --img-background-color: transparent;
    margin-right: 8px;
}