:is(#tooltip, .locked-tooltip).dnd5e-tooltip.bg3-tooltip {
    /* background-color: var(--bg3-background-color);
    color: var(--bg3-text-color);
    border-color: var(--bg3-border-color);
    border-width: var(--bg3-border-size); */
}