<form>
    <div class="container-section">
        <h3>Container 1 Auto-Populate</h3>
        <p class="notes">What item types to automatically populate in the first container</p>
        <div class="container-chips" data-container="container1">
            {{#each choices as |label key|}}
            <div class="chip {{#if (includes ../containerSettings.container1 key)}}active{{/if}}" 
                 data-value="{{key}}" 
                 data-container="container1"
                 data-active="{{includes ../containerSettings.container1 key}}">
                {{label}}
            </div>
            {{/each}}
        </div>
    </div>

    <div class="container-section">
        <h3>Container 2 Auto-Populate</h3>
        <p class="notes">What item types to automatically populate in the second container</p>
        <div class="container-chips" data-container="container2">
            {{#each choices as |label key|}}
            <div class="chip {{#if (includes ../containerSettings.container2 key)}}active{{/if}}" 
                 data-value="{{key}}" 
                 data-container="container2"
                 data-active="{{includes ../containerSettings.container2 key}}">
                {{label}}
            </div>
            {{/each}}
        </div>
    </div>

    <div class="container-section">
        <h3>Container 3 Auto-Populate</h3>
        <p class="notes">What item types to automatically populate in the third container</p>
        <div class="container-chips" data-container="container3">
            {{#each choices as |label key|}}
            <div class="chip {{#if (includes ../containerSettings.container3 key)}}active{{/if}}" 
                 data-value="{{key}}" 
                 data-container="container3"
                 data-active="{{includes ../containerSettings.container3 key}}">
                {{label}}
            </div>
            {{/each}}
        </div>
    </div>

    <div class="container-section">
        <h4 style="display: flex; align-items: center;">Allow passives for auto-populate <input type="checkbox" {{#if this.containerSettings.allowPassive}}checked{{/if}} id="passive-populate-checkbox"></h4>
    </div>

    <div class="dialog-buttons">
        <button type="submit" class="dialog-button">
            <i class="fas fa-save"></i>
            {{localize "BG3.Settings.ContainerAutoPopulate.Save"}}
        </button>
    </div>
</form> 
</div> 