<form class="package-configuration">
    <div class="dialog-container" style="width: 600px; height: 800px;">
        <div class="form-group group-header">Theme settings</div>
        <div class="form-group" data-setting-id="bg3-inspired-hotbar.themeOption" style="margin-top: 1em;">
            <label>{{localize "BG3.Settings.MenuTheme.Name"}}</label>
            <div class="form-fields">
                <select name="bg3-inspired-hotbar.themeOption" data-dtype="String">
                    <option value="default" {{#if (eq configData.themeOption 'default')}}selected{{/if}}>Default</option>
                    <option value="gold" {{#if (eq configData.themeOption 'gold')}}selected{{/if}}>Gold</option>
                    <option value="old" {{#if (eq configData.themeOption 'old')}}selected{{/if}}>Old</option>
                    <option value="custom" {{#if (eq configData.themeOption 'custom')}}selected{{/if}}>Custom</option>
                </select>
            </div>
            <p class="notes">{{localize "BG3.Settings.MenuTheme.Hint"}}</p>
        </div>
        <div>
            <details name="details-color">
                <summary>Global</summary>
                <div>
                    <p class="notes">Choose between available themes or create a custom one.</p>
                    <div class="form-group color-setting-header"><label></label><div class="form-fields"><div>Classic</div><div>Hover</div></div></div>
                    <div class="form-group">
                        <label>Border Color</label>
                        <div class="form-fields">
                            <input type="text" class="color" name="global.border.color" data-dtype="String" value="">
                            <input type="color" data-exclude="true" data-edit="global.border.color" value="">
                            <input type="text" class="color" name="global.border.color.hover" data-dtype="String" value="">
                            <input type="color" data-exclude="true" data-edit="global.border.color.hover" value="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Background Color</label>
                        <div class="form-fields">
                            <input type="text" class="color" name="global.background.color" data-dtype="String" value="">
                            <input type="color" data-exclude="true" data-edit="global.background.color" value="">
                            <input type="text" class="color" name="global.background.color.hover" data-dtype="String" value="">
                            <input type="color" data-exclude="true" data-edit="global.background.color.hover" value="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Text Color</label>
                        <div class="form-fields">
                            <input type="text" class="color" name="global.text.color" data-dtype="String" value="">
                            <input type="color" data-exclude="true" data-edit="global.text.color" value="">
                            <input type="text" class="color" name="global.text.color.hover" data-dtype="String" value="">
                            <input type="color" data-exclude="true" data-edit="global.text.color.hover" value="">
                        </div>
                    </div>
                </div>
            </details>
        </div>
        <div>
            <details name="details-color">
                <summary>Weapons Sets</summary>
                <div>
                    <p class="notes">Choose between available themes or create a custom one.</p>
                    <div class="form-group"><label>Border Color</label><div class="form-fields"><input type="text" class="color" name="weapon.border.color" data-dtype="String" value=""><input type="color" data-exclude="true" data-edit="weapon.border.color" value=""></div></div>
                    <div class="form-group"><label>Background Color</label><div class="form-fields"><input type="text" class="color" name="weapon.background.color" data-dtype="String" value=""><input type="color" data-exclude="true" data-edit="weapon.background.color" value=""></div></div>
                    <div class="form-group"><label>Text Color</label><div class="form-fields"><input type="text" class="color" name="weapon.text.color" data-dtype="String" value=""><input type="color" data-exclude="true" data-edit="weapon.text.color" value=""></div></div>
                </div>
            </details>
        </div>
        <div>
            <details name="details-color">
                <summary>Common Actions</summary>
                <div>
                    <p class="notes">Choose between available themes or create a custom one.</p>
                    <div class="form-group"><label>Border Color</label><div class="form-fields"><input type="text" class="color" name="common.border.color" data-dtype="String" value=""><input type="color" data-exclude="true" data-edit="common.border.color" value=""></div></div>
                    <div class="form-group"><label>Background Color</label><div class="form-fields"><input type="text" class="color" name="common.background.color" data-dtype="String" value=""><input type="color" data-exclude="true" data-edit="common.background.color" value=""></div></div>
                    <div class="form-group"><label>Text Color</label><div class="form-fields"><input type="text" class="color" name="common.text.color" data-dtype="String" value=""><input type="color" data-exclude="true" data-edit="common.text.color" value=""></div></div>
                </div>
            </details>
        </div>
        <div>
            <details name="details-color">
                <summary>Hotbar</summary>
                <div>
                    <p class="notes">Choose between available themes or create a custom one.</p>
                    <div class="form-group"><label>Border Color</label><div class="form-fields"><input type="text" class="color" name="hotbar.border.color" data-dtype="String" value=""><input type="color" data-exclude="true" data-edit="hotbar.border.color" value=""></div></div>
                    <div class="form-group"><label>Background Color</label><div class="form-fields"><input type="text" class="color" name="hotbar.background.color" data-dtype="String" value=""><input type="color" data-exclude="true" data-edit="hotbar.background.color" value=""></div></div>
                    <div class="form-group"><label>Text Color</label><div class="form-fields"><input type="text" class="color" name="hotbar.text.color" data-dtype="String" value=""><input type="color" data-exclude="true" data-edit="hotbar.text.color" value=""></div></div>
                </div>
            </details>
        </div>
        <div>
            <details name="details-color">
                <summary>Filters</summary>
                <div>
                    <p class="notes">Choose between available themes or create a custom one.</p>
                    <div class="form-group"><label>Border Color</label><div class="form-fields"><input type="text" class="color" name="filter.border.color" data-dtype="String" value=""><input type="color" data-exclude="true" data-edit="filter.border.color" value=""></div></div>
                    <div class="form-group"><label>Background Color</label><div class="form-fields"><input type="text" class="color" name="filter.background.color" data-dtype="String" value=""><input type="color" data-exclude="true" data-edit="filter.background.color" value=""></div></div>
                    <div class="form-group"><label>Text Color</label><div class="form-fields"><input type="text" class="color" name="filter.text.color" data-dtype="String" value=""><input type="color" data-exclude="true" data-edit="filter.text.color" value=""></div></div>
                </div>
            </details>
        </div>
        <div>
            <details name="details-color">
                <summary>Passive Effects</summary>
                <div>
                    <p class="notes">Choose between available themes or create a custom one.</p>
                    <div class="form-group"><label>Border Color</label><div class="form-fields"><input type="text" class="color" name="passive.border.color" data-dtype="String" value=""><input type="color" data-exclude="true" data-edit="passive.border.color" value=""></div></div>
                    <div class="form-group"><label>Background Color</label><div class="form-fields"><input type="text" class="color" name="passive.background.color" data-dtype="String" value=""><input type="color" data-exclude="true" data-edit="passive.background.color" value=""></div></div>
                    <div class="form-group"><label>Text Color</label><div class="form-fields"><input type="text" class="color" name="passive.text.color" data-dtype="String" value=""><input type="color" data-exclude="true" data-edit="passive.text.color" value=""></div></div>
                </div>
            </details>
        </div>
        <div>
            <details name="details-color">
                <summary>Active Effects</summary>
                <div>
                    <p class="notes">Choose between available themes or create a custom one.</p>
                    <div class="form-group"><label>Border Color</label><div class="form-fields"><input type="text" class="color" name="active.border.color" data-dtype="String" value=""><input type="color" data-exclude="true" data-edit="active.border.color" value=""></div></div>
                    <div class="form-group"><label>Background Color</label><div class="form-fields"><input type="text" class="color" name="active.background.color" data-dtype="String" value=""><input type="color" data-exclude="true" data-edit="active.background.color" value=""></div></div>
                    <div class="form-group"><label>Text Color</label><div class="form-fields"><input type="text" class="color" name="active.text.color" data-dtype="String" value=""><input type="color" data-exclude="true" data-edit="active.text.color" value=""></div></div>
                </div>
            </details>
        </div>
        <div>
            <details name="details-color">
                <summary>Rest Turn Buttons</summary>
                <div>
                    <p class="notes">Choose between available themes or create a custom one.</p>
                    <div class="form-group"><label>Border Color</label><div class="form-fields"><input type="text" class="color" name="rest.border.color" data-dtype="String" value=""><input type="color" data-exclude="true" data-edit="rest.border.color" value=""></div></div>
                    <div class="form-group"><label>Background Color</label><div class="form-fields"><input type="text" class="color" name="rest.background.color" data-dtype="String" value=""><input type="color" data-exclude="true" data-edit="rest.background.color" value=""></div></div>
                    <div class="form-group"><label>Text Color</label><div class="form-fields"><input type="text" class="color" name="rest.text.color" data-dtype="String" value=""><input type="color" data-exclude="true" data-edit="rest.text.color" value=""></div></div>
                </div>
            </details>
        </div>
        <div>
            <details name="details-color">
                <summary>Tooltip</summary>
                <div>
                    <p class="notes">Choose between available themes or create a custom one.</p>
                    <div class="form-group"><label>Border Color</label><div class="form-fields"><input type="text" class="color" name="tooltip.border.color" data-dtype="String" value=""><input type="color" data-exclude="true" data-edit="tooltip.border.color" value=""></div></div>
                    <div class="form-group"><label>Background Color</label><div class="form-fields"><input type="text" class="color" name="tooltip.background.color" data-dtype="String" value=""><input type="color" data-exclude="true" data-edit="tooltip.background.color" value=""></div></div>
                    <div class="form-group"><label>Text Color</label><div class="form-fields"><input type="text" class="color" name="tooltip.text.color" data-dtype="String" value=""><input type="color" data-exclude="true" data-edit="tooltip.text.color" value=""></div></div>
                </div>
            </details>
        </div>
    </div>
    <div class="dialog-buttons">
        <button type="submit" class="dialog-button">
            <i class="fas fa-save"></i>
            {{localize "BG3.Settings.ContainerAutoPopulate.Save"}}
        </button>
    </div>
</form>