<div>
    <div class="bg3-portrait-subcontainer">
        <img src="{{img}}">
        <div class="health-overlay">
            <div
                class="damage-overlay"
                style="height: 54.5455%; opacity: 1"
            ></div>
            <div class="damage-flash"></div>
            <div class="healing-flash"></div>
        </div>
    </div>
    <div class="hp-text">
        <div class="temp-hp-text">+5</div>
        <div>15/33</div>
    </div>
</div>